<button type="button" id="pick" class="btn btn-primary btn-sm">
    Link Pictures
</button>

<% if defined?(gfolder) %>
    <% form_gfolder = gfolder %>
<% else %>
    <% form_gfolder = @patient.build_google_drive_folder %>
<% end %>

<%= form_for([@patient, form_gfolder], html: {id: 'link_form'}) do |f| %>
    <%= f.hidden_field :google_id, id: 'gid' %>
<% end %>                

<script src="<%= 'https://www.google.com/jsapi?key=' + ENV["GOOGLE_API_KEY"] %>"></script>
<script src="https://apis.google.com/js/client.js?onload=initPicker"></script>

