<button type="button" id="pick" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#gdriveModal">
    Link Pictures
</button>

<% if defined?(gfolder) %>
    <% form_gfolder = gfolder %>
<% else %>
    <% form_gfolder = @patient.build_google_drive_folder %>
<% end %>

<%= form_for([@patient, form_gfolder], html: {id: 'link_form'}) do |f| %>
    <%= f.hidden_field :google_id, id: 'gid' %>
<% end %>                







<script src="filepicker.js"></script>
<script>
    <!-- TODO: apiKey is visible to the world. Build the token on server instead -->
    function initPicker() {
        var picker = new FilePicker({
            apiKey: "<%= ENV["GOOGLE_API_KEY"] %>",
            clientId:"<%= ENV["GOOGLE_CLIENT_ID"] %>",
            buttonEl: document.getElementById('pick'),
            onSelect: function(file) {
                console.log(file);
                document.getElementById("gid").value = file.id;
                //document.getElementById("gid_view").value = file.id;
                //document.getElementById("gform_submit").disabled = false;
                //alert('Selected ' + file.title);
                document.getElementById("link_form").submit();
            }
        });	
    }
</script>

<script src="https://www.google.com/jsapi?key=AIzaSyBib3PeMsbXEWBm_AjYmpESqk6-WlW2_xk"></script>
<script src="https://apis.google.com/js/client.js?onload=initPicker"></script>
