<li class="list-group-item">
    <%= email.email_address %> belonging to '<%= email.email_owner.humanize %>' 
    <%= link_to 'Delete', [email.patient, email], method: :delete, data: {confim: 'Are you sure?'}%>
</li>